@media (min-width: 1600px) {
 

}
@media (min-width: 1900px) { }
 
 
@media (max-width: 992px){
 #banner .image.about-img {width: 100%;margin-right: 150px;top: -36px;margin: 0 auto;left: 0;right: 0;}
 .innovative {padding-left: 0px; }
 .technology .technology-col { margin-right: 23px;}
 .experienced-section .image {margin-top: 60px;}
 .business-section .image {margin-top: 76px;}
p.para-color { font-size: 14px;}
.box-group label{padding:0px;}
 #banner .image.about-img img{width:350px;}
.custom-nav .navbar-brand{margin-right: 78px;}
.custom-nav.navbar-light .navbar-nav>li{font-size:15px;margin-right: 25px;}
.custom-nav.navbar-light .navbar-nav>li:last-child{margin-right:0}
.custom-nav.navbar-light .navbar-nav{margin-top: 4px;}
.custom-nav.navbar-light .navbar-nav .dropdown-menu{border-radius:0px;margin-top: 0px;min-width: 223px;padding: 0;border: none;box-shadow: 0 5px 12px #efefef;}	
.custom-nav.navbar-light .navbar-nav li a.nav-link{line-height:32px;padding: 3px 0px 14px;}	
.custom-nav.navbar-light .navbar-nav li ul ul{  top:0px; left:100%;}
#navbarSupportedContent .menu-express-menu-container {width: auto; float: none;}
    #banner .banner-info{padding-top:90px;}
 p {font-size: 18px}
.custom-nav .navbar-nav .nav-item a {color: #000;display:block;}
.menu-express-menu-container{    content: "";display: table;clear: both;}
.navbar-nav>li.contact a { padding: 0px 0px!important;}
.para-color p{font-size:16px;}
.box {padding: 30px 20px 24px; min-height: 322px;height: 322px;margin-bottom: 30px;position: relative;}
#header.fixed .navbar-nav>li.contact.current-menu-item a {
    border-color: transparent!important;
    color: #4d4d4d!important;
	background:transparent;
}
.navbar-nav>li.contact.current-menu-item a {background: transparent;color: #4d4d4d!}
.sub-title {font-size: 22px;}
.step-content {padding: 60px 25px;}
.contactus-sec .box {min-height: 183px;height: auto;}
.step-head p {font-size: 14px;}
.our-work-cnt {
    left: calc(50% - 421px);
}
.mobile {
    right: calc(50% - 384px);
}
    #testimonial .test-slide {
    font-size: 22px;
    line-height: 31px;
    padding: 0 110px;
}

}  


@media(max-width:1200px){

.custom-nav .navbar-nav>li {
    margin-right: 36px;
}
}

@media (max-width: 1170px){
	 .box.type-project{    min-height: 183px; height: auto;}
 .contact-info .info-t {
    color: #fff;
    font-size: 18px;
 margin-right: 8px;}
 .custom-nav .navbar-nav>li {
    margin-right: 21px;
}
  
}

@media (max-width: 1024px) {
	
	.process-content{ padding:0;}
 	#banner .image.about-img{margin-right:0;margin-bottom:40px;text-align: center !important;}
	#banner .image.about-img {
    top: 0;}
	#banner .image {
    width: 548px;
    top: 0;
}
#banner {height:800px;}
	#banner .image.project-img {
    width: 540px;
    margin-right: 63px;
    top: -22px;
}
.step-head {
    padding-left: 135px;
    position: relative;
    margin-bottom: 18px;
}
	.project-col{ width:100%; margin-bottom:50px; }
	.project-col .mobile-screen{width:100%; text-align: center;}
 	.project-col:last-child{margin-bottom:0px;}
     #custom-process .custom-process-cnt { padding-left:0px;padding-right: 30px;}
}
@media (max-width: 990px) {
	
	.navbar-collapse{ background-color:#fff;padding-left:15px;padding-right:15px;}
	.custom-nav .navbar-nav .nav-link{ color:#000; }
	.custom-nav .navbar-nav>li.contact a{ border:none;color: #4d4d4d!important;}
	#navbarSupportedContent .menu-express-menu-container {padding-bottom: 15px;padding-top: 15px;}
	#banner .banner-content{width:100%;text-align: center !important;padding-bottom: 50px;}
	#banner .image{ position:static; width:100%;}
	#banner.height{ height:auto; }
	#header .container{ width:100%; padding-left: 38px;}
	
}
@media (max-width: 767px) {
    .navbar-nav>li.contact a:hover {background: transparent;}
    #testimonial .test-slide {line-height: 25px; padding: 0 50px;}
	#banner .image.project-img {width: 100%;}
	.innovative .title {margin-bottom: 15px; margin-top: 40px;}
	#banner {height:600px;}
	.#header.fixed .navbar-nav>li.contact.current-menu-item a {
    border-color: none;
    color: #4d4d4d;}
	.navbar-nav>li.contact.current-menu-item a{background:transparent;color: #4d4d4d!important;}
	#header.fixed .navbar-nav>li.contact a{    border-color: none;
    color: #4d4d4d;}
	 #banner .banner-title{ font-size: 40px; }
	.title{ font-size:30px;}
	.sub-title{ font-size:22px;}
	.box{margin-bottom:15px;}
	.custom-process-cnt{ padding:20px 0 0 0;}
	.our-work-cnt,.mobile{ position:static; width: 100%; text-align: center;}
	.mobile{margin-bottom: -120px;margin-top:40px;}
	#testimonial .test-slide{font-size:22px; line-height: 30px;}
	#footer{font-size:16px;padding-left: 10px;padding-right: 10px;}
	.info-col{text-align: center;padding-bottom: 30px;width: 100%;float: left;}
	.contact-info .info-t,.contact-info .icon{display:inline-block;float: none;margin: 0 10px;}
	.contact-info .email-id{ width:100%;  }
	.process-box {margin-bottom:60px;}
	.step-content{height:auto;}
	.step-col-left, .step-col-right{width:100%;}
	.image-step{height:280px;}
	#banner .image.progress-img{width:100%;}
	.innovative{    padding-left: 7px;
    padding-top: 7px;}
	.innovative-section .image{padding:0 80px;}
    .innovative .title {
    text-align: center;}
    .business-section .image {
    margin-top: 0;}
    .business-section p {
    font-size: 15px;}
    .experienced-section p {
    font-size: 16px;}
    .contactus-sec {
     height: auto; }
    .contact-form{padding:30px;}
 }
@media (max-width: 480px) {
.carousel-control-next { right: -21px;}
.test-slide p{font-size:12px;}
#testimonial .test-slide {padding: 0 12px;}
.carousel-control-prev {
    left: -21px;
}
	.current-menu-item a:after {
    height: 3px;
    top: 24px;
    left: 0px;
}
#filters li:last-child{margin-top:20px;}
	.custom-nav .navbar-brand img{ width:230px; height: auto; }
	#testimonial .test-slide{ padding:0 25px;    font-size: 16px;
    line-height: 20px;}
	.mobile img{ width:240px;}
    #header .container {padding-left: 15px;}
    #custom-process .custom-process-cnt {
    padding-left: 0px;
    padding-right: 0;
    text-align: center;
}
	.navbar-light .navbar-brand svg{     width: auto;height: 28px;    margin-left: -4px;}
	.express{vertical-align: middle;
    margin-top: -21px;}
	.navbar-brand .e-logo{width:30px!important;}
	.arrow{ margin-bottom: -22px; }
	.custom-nav.navbar-light .navbar-toggler{margin-top:0px;}
	.technology .technology-col{margin-right:16px;}
 	.project-col .mobile-screen img{width:100%;height: auto;}
}


@media (max-width: 320px) {
#testimonial .test-slide {
    padding: 0 37px;
    font-size: 13px;
    line-height: 17px;
}
}