/*
Theme Name

*/

a,#header{webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition: all .7s ease-in-out;}
a:hover,a:focus{ text-decoration:none; }
body,html{ height:100%;} 
.cover{position:absolute; top:0px; bottom: 0px; left:0px; right:0px;  background-repeat: no-repeat; background-size:cover;}
p{font-size: 20px;color:#fff;}
.color{color: #29abe2; }
.color2{color: #000; }
.gray-bg{ background-color:#f2f2f2;}
.dark-gray-bg{ background-color:#4d4d4d;}
.section{padding: 60px 0 40px;position:relative;}
.cover{position:absolute; top:0px; bottom:0px; left:0px; right:0px;}
.title{color:#4d4d4d;font-size: 42px;font-weight: bold;}
 
.sub-title{color:#4d4d4d;font-size: 30px;font-weight: normal;position: relative;}
.line{padding-bottom:25px; margin-bottom:40px;}
.line:after{content:'';width: 110px;position: absolute;bottom:0px;left:0px;right:0px;margin: auto;height:4px;background-color:#29abe2;}
.title2{ color:#29abe2;font-size:24px;font-weight:600;}
.custom-btn{outline:none;border:none;cursor: pointer;margin-top: 10px;display:inline-block;background-color:#29abe2;border: 1px solid #29abe2;color: #ffffff;font-size: 20px;border-radius: 10px;height: 46px;padding: 0 50px;line-height: 44px;}
.custom-btn:hover,.custom-btn:focus{color:#fff; opacity:0.9;} 
.custom-btn.btn-gray{ background-color:#4d4d4d;}
p.para-color{color: #999999;} 
.spacing{margin-top: 25px;margin-bottom: 15px;}
.pull-l{left:0px;}

body{ font-family: 'Lato', sans-serif; }
#wrapper{ height:100%; position: relative;}
.custom-nav{left: 0px;right:0px;position:absolute;z-index: 9;    padding-top: 18px;
    padding-left: 0;
    padding-right: 0;} 
.custom-nav .navbar-nav li a{font-size: 16px;color: #fff;position: relative;    text-transform: uppercase;}
.nav-link a {
    border: #ffffff solid 1px;
    border-radius: 5px;
    padding: 7px 30px;
}
.banner-content p{font-size:25px;}

.custom-nav .navbar-nav .nav-link{ font-size:16px!important; color: #fff; position: relative; }
.custom-nav .navbar-nav>li{margin-right:50px;}
.custom-nav .navbar-nav>li:last-child{margin-right:0px;}
.custom-nav.navbar-light .navbar-nav li.contact a.nav-link{border: #ffffff solid 1px;border-radius:5px;padding: 7px 30px;}
.custom-nav.navbar-light .navbar-nav>li a:hover,.custom-nav.navbar-light .navbar-nav>li a:focus{ color:#29abe2; }
.custom-nav.navbar-light .navbar-toggler{border-color: #fff;outline:none;background-color:#fff;cursor: pointer;margin-top: 10px;}
#header.fixed{background-color: #fff;position:fixed;box-shadow: 0 0 4px #c5c5c5;}
#header.fixed .navbar-brand svg path,#header.fixed .navbar-brand svg rect{  stroke:#29abe2; fill:#29abe2;  }
#header.fixed .navbar-nav .nav-link{color:#4d4d4d; }
#header.fixed .navbar-nav li a {
    color: #4d4d4d;
}
#header.fixed .navbar-nav>li.contact a {
    border-color: #29abe2;
    color: #29abe2;
}
.navbar-nav>li.contact a {
    border: #ffffff solid 1px;
    border-radius: 5px;
    padding: 14px 26px;}

.navbar-nav>li.contact a:hover {
       border: none;
    border-radius: 5px;color:#fff!important;
    padding: 14px 26px;
    background: #29aae0;}

#header.fixed .navbar-nav>li.contact a{border-color:#29abe2; color:#29abe2; }
.custom-nav.navbar-light .navbar-nav .active>.nav-link, .custom-nav.navbar-light .navbar-nav .nav-link.active, .custom-nav.navbar-light .navbar-nav .nav-link.open, .custom-nav.navbar-light .navbar-nav .open>.nav-link{ color: #fff; }
.custom-nav.navbar-light .navbar-nav .active>.nav-link:after, .custom-nav.navbar-light .navbar-nav .nav-link.active:after, .custom-nav.navbar-light .navbar-nav .nav-link.open:after, .custom-nav.navbar-light .navbar-nav .open>.nav-link:after{content:'';position: absolute;bottom:0px;width:100%;height:5px;background-color: #29abe2;left: 0px;}

/*Banner*/
#banner{width: 100%;height:100%;position: relative;background-color: #4d4d4d;overflow: hidden;}
#banner .banner-in{ width:100%; height:100%; display:table; position:relative; }
#banner .banner-info{width:100%;height:100%;display:table-cell;vertical-align: middle;padding-top: 110px;}
#banner .banner-title{color:#fff;font-size: 60px;font-weight: bold;}
.arrow{position: absolute;bottom:0px;left:0px;right:0px;text-align: center;font-size:80px;}
#banner.height{height:500px;}
#banner .image{width:800px;position: absolute;right:0px;top: -44px;}
#banner .banner-content{width: 390px;float: left;margin-top: 15px;}
.arrow a{color:#fff;}

/*Banner End*/


.content-head{padding-bottom:30px;}
.box{background-color:#ffffff;padding: 35px 30px;min-height: 380px; margin-bottom: 30px; position:  relative;}
.box .icon img{width: 80px;height: auto;}
 
#custom-process{min-height: 520px;}
#custom-process .image{padding: 0 40px;margin-top: 40px;}
.custom-process-cnt{padding:0 100px;}
.custom-process-cnt h1.title{ color:#fff; margin-bottom:30px;}

#our-work{min-height: 520px; overflow: hidden;}
.mobile{position:absolute;right: calc(50% - 490px);bottom: 0;}
.mobile img{width: 334px;height: auto;}
.our-work-cnt{width: 310px;position: relative;top:70px; left: calc(50% - 490px);}
.our-work-cnt h1,.our-work-cnt h2{ color:#fff;}
.our-work-cnt h2{font-weight: normal;margin: 29px 0;}

#testimonial{ background-color:#29abe2; padding:70px 0; }
#testimonial h1{ color:#fff; margin-bottom:25px;}
#testimonial h2{ color:#030000; margin-bottom:50px;}
#testimonial .test-slide{color: #ffffff;font-size: 36px;line-height: 43px; padding:0 110px;  }


#footer{ text-transform: uppercase; color:#000000; font-size:22px; padding:20px 0;}
#footer a{color:#000000;}
 
 
#filters{margin:0px; padding:0px; margin-bottom:60px; text-align: center;}
#filters li{ list-style: none; display:inline-block; margin:0 20px;  }
#filters li span{display:block;color:#29abe2;font-size: 20px;padding: 10px 20px;border-radius: 10px;border:#29abe2 solid 1px; cursor: pointer;}
#filters li span.active{ background-color:#29abe2; color:#fff; }

#portfoliolist .portfolio{display:none;}
.box.type-project{     min-height: 183px;height: auto;}

.contact-form label{color: #000000;font-size: 19px;font-weight: normal;margin-bottom: 5px;}
.contact-form .form-control{border-radius: 0;height: 40px;border: 2px solid #29abe2;position:relative;}
.contact-form .form-control:focus{ border: #57b4df solid 1px; }
.contact-form textarea.form-control{height: 431px;resize:none;}
.contact-form{width: 100%;}
.contact-form h1{padding-bottom: 40px;font-weight:  bold;}
.btn-row{padding-top:30px;}
.btn-row .custom-btn{ display: inline-block;}
.info-h{ color:#000;    margin-top: 35px;margin-bottom:30px; }
.contact-info{background-color: #7D7D7D;padding: 27px 0;position: relative;}
.contact-info .info-t{color: #fff;font-size: 22px;margin-right: 25px;float: left;margin-top: 14px;font-weight: bold;}
.contact-info .icon{font-size: 40px;color: #fff;float: left;margin-right: 25px;}
.contact-info .email-id{float:left;line-height: 22px;margin-top: 8px;margin-bottom: 0;}
.contact-info .email-id a{color:#fff;display: block;}
.contact-info .email-id a:hover{color: #29abe2;}
.contact-info .email-id span{display:block;}
.contact-info .email-id span a{ display:inline-block; }
.contact-info .email-id span small{font-size:13px;padding-right: 4px;}
.privacy{ padding:30px 0;}
 
.process .title{ margin-bottom:40px; }
#banner .image.progress-img{width: 470px;top: 0px;right: 56px;}
.process-content{ padding:0 250px;}
.process-box img{ width:180px; height:180px; }
.process-box .sub-title{ font-weight: normal; padding-top:30px; }
.step-col-left,.step-col-right{ width:50%;}
.step-col-left{float: left;}
.step-col-right{float: right;}
.image-step{ position: relative;}
.image-step{ height:450px;}

.step-setion{ overflow:hidden;}
.step-setion:nth-child(odd) .step-col-left{float: right;}
.step-setion:nth-child(odd) .step-col-right{float: left;}
.step-setion:last-child{margin-bottom: 50px;}
.step-content{background-color:#000000;padding: 60px 040px;height: 450px;}
.step-head {padding-left:135px;position:relative;margin-bottom: 50px;}
.step-head small{color:#fff; font-weight: bold; font-size: 22px; }
.step-head img{position:absolute; left:0px; top:-22px; }
.step-content p{ color:#fff;}
.step-content .sub-title{ color:#29abe2; font-weight: normal;}
.wow {visibility: hidden;}

#banner .image.about-img{width: 330px;margin-right: 150px;top: -31px;}
.express-section .content-head{ padding-bottom:40px;}
.express-section .content-head .sub-title{ margin-bottom:0px;}
.express-section p{ color:#4d4d4d;}
.innovative {padding-left: 80px;}
.innovative .title{ color:#29abe2; margin-bottom:40px; }
.innovative p{ color:#666666; }

.experienced-section{background-color: #6b6b6b;padding-bottom: 80px;}
.experienced-section p{ color: #fff; }
.experienced-section .image{ margin-top:40px; }
.technology{padding-top:80px;width: 100%;float: left;}
.technology .technology-col{width: 80px;float:left;margin-right: 50px;margin-bottom: 30px;}
.technology .technology-col img{width: 80px;}
.technology .technology-col:last-child{ margin-right:0px;}

.business-section{background-color: #29abe2; }
.business-section .title,.business-section p{ color: #ffffff;  }
.business-section .image{margin-top: 50px;} 

#banner .image.project-img{    width: 530px; margin-right: 150px;top: -38px;}

.project-section{ padding:50px 0;}
.gamemaster{  
background: #029d98; /* Old browsers */
background: -moz-linear-gradient(left,  #029d98 0%, #172b6d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #029d98 0%,#172b6d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #029d98 0%,#172b6d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#029d98', endColorstr='#172b6d',GradientType=1 ); /* IE6-9 */
 }
.socially-fit{ 
background: #045d36; /* Old browsers */
background: -moz-linear-gradient(left,  #045d36 0%, #28922d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #045d36 0%,#28922d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #045d36 0%,#28922d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#045d36', endColorstr='#28922d',GradientType=1 ); /* IE6-9 */
}

.project-cnt{padding-top:30px;}
.project-col{ width:50%; position: relative;}
.project-left{ float:left;}
.project-right{ float:right;}
.project-section:nth-child(even) .project-left{ float:right;}
.project-section:nth-child(even) .project-right{ float:left;}
.project-section:nth-child(even) .mobile-screen{ float:right;}
 
 
.project-cnt .logo{width: 130px;margin: auto;}
.project-cnt h4{color:#fff;text-align: center;margin: 30px 0 20px;}
.project-cnt .get-app span{ display:inline-block;padding-right:20px; color:#fff; font-size:20px; font-weight: normal;}
.project-cnt .get-app img{ width:50px; height: auto;}
.get-app ul{margin:0px; padding:0px; display: inline-block;}
.get-app ul li{list-style: none; display: inline-block;  margin-right:15px;}

.mobile-box{width: 235px;height: 471px;float: left;position: relative;}
.mobile-box .frame{ width: 235px; height: 471px;}
.mobile-box .image{width: 201px;height: 355px;position:absolute;top: 55px;left: 18px;right:0px;bottom:0px;border: #f1f7f2 solid 1px;}
.mobile-box.second{margin-left: -70px;}
.layer-inside{display:none!important;}
.para-color p{color: #999999;}
.error{      color: #e80202!important;
    font-size: 12px!important;
    position: absolute;
    /* height: 50px; */
    bottom: auto;
    left: 0;}
.image img{max-width: 100%;
    height: auto;}
	
#content-set{position:relative;padding-top: 135px;
background-color: #4d4d4d;}	
.carousel-inner .wptww-testimonials-slidelist {visibility: visible;opacity: initial;    width: 100%;}
.carousel-inner .wptww-testimonial-content .fa-quote-left{display:none;}
.carousel-inner .wptww-testimonial-content p em:before{color:#fff;font-size:30px;}
.carousel-inner .wptww-testimonial-content p em:after{color:#fff;font-size:30px;}
.carousel-inner .wptww-testimonials-text p em{color: #ffffff;
    font-size: 30px;
    line-height: 43px;}
.carousel-inner .wptww-testimonials-text{    width: 714px;
    margin: 0 auto;}
.wptww-testimonial-content h4{display:none;}
.contact-form .form-group{margin-bottom:0px;position:relative;}
.budget-select-list{clear: both;
    display: block;
    width: 100%;
    height: 44px;
    border: 2px solid #29abe2;}
.read-more{
    position:  absolute;
    right: 0;
    margin-right: 34px;
    margin-top: 0;
}
.project-img img{}
.notfound-page-setting{display: table;height: 100%;}
.notfound-page-bg{position: relative;color: #fff;display: table-cell;vertical-align: middle; height: 100%;text-align: center;}
.notfound-page-bg h2{font-size:60px;}
.notfound-page-bg p{font-size:40px;}
.current-menu-item a:after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5px;
    background-color: #29abe2;
    left: 0px;}
.nav-item a:hover:after{ 
   content: '';
   position: absolute;
    bottom: 0px;
    width: 100%;
    height: 5px;
    background-color: #29abe2;
    left: 0px;}
.contact.nav-item a:hover:after{  background-color: transparent;}
.contact.current-menu-item a:after{
	 background-color: transparent;
	    
}
.navbar-nav>li.contact a:hover{    border: 1px solid #29abe2;color: #29abe2;}
.navbar-nav>li.contact.current-menu-item a{     background: #29abe2;color: #fff; border: none;}
	#header.fixed .navbar-nav>li.contact.current-menu-item a {
    border-color: #29abe2;
    color: #fff;
}
	
	
.contact.current-menu-item a{border-color: 1px solid #29abe2;}
.custom-nav .navbar-nav li a{padding-bottom: 14px;}
.m-5 {
    margin: 0rem 3rem!important;
}
.navbar-brand .cls-1 {
    fill: #fff; }
.menu-express-menu-container {width:100%;float:right;}
.ml-auto{float:right;}
.innovative .title{    text-align: right;margin-right: 76px;}

.box-group label{width:100%;cursor:pointer;transition: 0s;}
.box-group .active{    border: 2px solid #3ab2e4;
    padding: 1px;}
.box-group .box{margin-bottom: 0;}
.contactus-sec{height: 446px;}
.sec-col-title{text-align: center!important;}
.services-btn{margin-top: 25px;}
.navbar-brand .cls-2{ stroke: #29abe2;fill: #29abe2;}
.type-project p{    margin-top: 16px;}

/*

.custom-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 0;
	border-radius:8px;
    opacity: 0;
   background-color: rgba(8, 85, 117, 0.53);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
*/
.custom-btn:hover {
	background-color:transparent;
	border:1px solid #29abe2;
   
}
.custom-btn.btn-gray:hover {
    border:1px solid #4d4d4d;
	background-color:transparent;
}
.submit:hover{color:#29abe2}
/*
.custom-btn span{z-index: 2;
    display: block;    position: absolute;}
*/
.custom-btn{position:relative;    transition: all .1s ease-in-out;}
#banner .service-img {top: -20px;}
.test-slide p {font-size:30px;}